.col-md-4{
  padding-left: 0;
  padding-right: 0;
  height: 380px;
}

.find-the-station{
  margin-top: 15px;
}

.page-header{
  margin-bottom: 0;
}

.coordinates{
  margin-top: 10px;
}

.sidebar{
  border-right:1px solid #e5e5e5;
  height:1100px;
}

.col-md-2{
  padding-right: 0;
}

.row{
  margin-left: 0;
}

fieldset{
  margin-top:10px;
}
